<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/entermedia-clients/etc/entermedia-consoleclient.lauch"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/entermedia-rest-java/src/com/entermedia/ui/ConsoleClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.entermedia.ui.ConsoleClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-command searchAssets -serverurl http://localhost:8080/ -search name matches dog"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="entermedia-rest-java"/>
</launchConfiguration>
